*::selection{
 background-color:var(--color-amber-400);
}
:root {
    --color-amber-700: oklch(.555 .163 48.998);
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f7;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.image-overlay {
    background-image: url('../images/G1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-overlay::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
}
.bg-royal-light { background-color: #fff6ee; }
.text-royal-dark { color: #ac613e; }
.text-royal-brown { color: var(--color-amber-700); }
input, button { font-family: inherit; }
input:focus { outline: none; }
button { cursor: pointer; transition: all 0.3s ease; }
